@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

.md-grid {
  max-width: 1680px;
}

.md-content h1,
.md-content h2,
.md-content h3,
.md-content h4,
.md-content h5,
.md-content h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

.md-content h1 {
    margin-bottom: 0.5em;
}

html .md-footer-meta.md-typeset a {
    color: var(--md-footer-fg-color);
}

.home svg {
    display: block;
    margin: 0 auto;
}

:root {
  --md-primary-fg-color:        #336699;
  --md-accent-fg-color:         #336699;
  --md-primary-fg-color--light: #336699;
  --md-primary-fg-color--dark:  #6699cc;
}

body[data-md-color-scheme="slate"] {
  --md-typeset-a-color:         #6699cc;
  --md-accent-fg-color:         #6699cc;
}

body svg #tea {
    display: none;
}

/* body[data-md-color-scheme="slate"] svg #menu, */
body[data-md-color-scheme="slate"] svg text {
    fill: #ccc;
}

body[data-md-color-scheme="slate"] svg #hyphens {
    stroke: #ccc;
}

body[data-md-color-scheme="slate"] svg #floor,
body[data-md-color-scheme="slate"] svg #desk {
    fill: #666;
}

body[data-md-color-scheme="slate"] svg #coffee {
    display: none;
}

body[data-md-color-scheme="slate"] svg #tea {
    display: unset;
}

/**/

body[data-md-color-scheme="slate"] svg #screen1,
body[data-md-color-scheme="slate"] svg #screen2 {
    fill: var(--md-default-bg-color);
}

/**
 * Anchor / footnote styling
 */
.footnote :target p {
    background-color: var(--md-typeset-mark-color);
}

.md-typeset .emojione, .md-typeset .gemoji, .md-typeset .twemoji {
    vertical-align: middle;
}
